body {
  background-color: #D3D3D3;
  color: #000305;
  font-size: 87.5%;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: left 
}

a {
  text-decoration: none
}
a:link, a:visited {

}

a:hover, a:active {

}

.body {
  margin: 0 auto;
  width: 77%
  }

.mainhHeader img {
  padding: 2em 1em 2em 70px;
  margin: 4% 0;
  background-color: white
  
}

.mainHeader nav{
  background-color: #D3D3D3;
  height: 100%;
  width: 170px;
  display: block;
  position: fixed;
  left: 0px;
  top: 100px
}

.mainHeader nav ul{
  margin:0px;
  padding: 0px
}

.mainHeader nav ul li {
  width: 100%;
  float: left;
  display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
  color: #005A9C;
  display: inline-block;
  padding: 10px 19px;
  height: 20px
}

.mainHeader nav a:hover, .mainHeader nav:active, .mainHeader nav .active a:link,
.mainHeader nav .active a:visited {
background-color: #191970;
text-shadow: none 
}

.mainHeader nav ul li a{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainContent {
  line-height: 25px
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
 }

 .content {
   float: left;

 }

 .Rec1, .Rec2, .Rec3, .Rec4, .Rec5, .Rec6, .Rec7, .Rec8, .Rec9, .Rec10, .Rec11, .Rec12, .Rec13 {
   background-color: #FFF;
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%
}

h2 {
  text-align: center; 
  color: #005A9C;  
  font: 170% sans-serif
}

.info {
  color: #005A9C;  
  font: 140% sans-serif
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{

.body {
  width: 90%
  }

.mainhHeader img {
  width:100%;
}

.mainHeader nav{
  height: 520px;
}

.mainHeader nav ul{
  padding-left: 0
}

.mainHeader nav ul li {
  width: 100%;
  text-align:center
}

.mainHeader nav a:link, .mainHeader nav a:visited{
  padding: 10px 19px;
  height: 20px ;
  display: block
}

}
